#navbar{    
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: black;    
}

#navbar{
    padding-left: 40px;
}

#navbar>div{
    padding: 10px;
}

#navbar>div>input{
    padding: 5px;
    margin-right: 5px;
    background-color: black;
    border: 1px solid white;
    color: white;
    border-radius: 4px;
    font-size: 15px;
}

#navbar>div button{
    background-color: rgb(80, 80, 247);
    font-size: 15px;
    padding: 5px 10px;
    margin-right: 20px;
    color: white;
    border-radius: 8px;
}

#backgroundImage{
    height: 100vh;
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/0ef67cc5-0aa7-47cf-87bd-7f595afc7cfb/c96f2a1d-1627-40aa-a29e-6ab6b27b35ab/IN-en-20221107-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
}

#Text_on_Image{    
    width: 20%;
    position: relative;
    top: 60%;
    left : 3%;
    color: white;
}

#Text_on_Image > button {
    font-size: 15px;
    padding: 7px 50px;
    border-radius: 8px;
    border: 0px;
    background-color: white;
    width: 100%;
}

#Text_on_Image > p{
    font-size: 12px;
    text-align: center;    
}

#Text_on_Image > h1{
    font-size: 30px;      
}